/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(180deg, rgba(237,242,248,1) 20%, rgba(229,237,244,1) 100%) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 1.5rem;
}

.product{
    width: 100%;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}

.big_text{
    width: 80%;
    margin-top: 2rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.small_text{
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}

.user{
    width: 80%;
    margin-bottom: 2rem;    
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
}

.user__photo{
    width: 4rem;
    border-radius: 2rem;
}

.user__data{
    margin-left: 1.5rem;
}

.user__name{
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.user__date{
    font-size: 1rem;
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}

.button{
    width: 3rem;
    height: 3rem;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 1.5rem;
    position: absolute;
    right: 0px;
}

.active{
    display: none;
}

.share{
    width: 100%;
    display: none;
    padding: 2rem 0rem;
    justify-content: center;
    background-color: #49556b;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.subshare{
    width: 80%;
    display: flex;
    position: relative;
}

.share_text{
    margin-right: 7%;
    font-size: 1.5rem;
    font-family:'Manrope', sans-serif;
    color: hsl(214, 17%, 51%);
}

.icon{
    margin-right: 5%;
}


.share__button{
    width: 3rem;
    height: 3rem;
    align-self: center;
    position: absolute;
    right: 0px;
    border-radius: 1.5rem;
}

.share__icon{
    z-index: 1;
    color: white;
}